a
{
    border-bottom: 1px solid var(--color-primary);
    font-size: 24px;
}

a:hover
{
    color: var(--color-primary);
}

.gizmo-navbar
{
    background-color: var(--color-background);
    overflow: hidden;
    width: 100%;
}

.theme-toggle {
    --toggle-width: 72px;
    --toggle-height: 30px;
    --thumb-size: 28px;
    --thumb-padding: 1px;

    position: relative;
    width: var(--toggle-width);
    height: var(--toggle-height);
    display: inline-block;
}

.theme-toggle input {
    display: none;
}

.theme-toggle-slider {
    position: absolute;
    inset: 0;
    border-radius: 9999px;
    background: var(--color-primary);
}

.theme-toggle-slider::before {
    content: "";
    position: absolute;
    left: var(--thumb-padding);
    top: var(--thumb-padding);

    width: var(--thumb-size);
    height: var(--thumb-size);

    border-radius: 50%;
    background: var(--color-surface);
}

.theme-toggle input:checked + .theme-toggle-slider::before 
{
    transform: translateX(
        calc(var(--toggle-width) - var(--thumb-size) - var(--thumb-padding) * 2)
    );
}